---
import { eq } from "drizzle-orm";
import { db } from "../../../../../database/db";
import { todo_updates } from "../../../../../database/schema";
import { getProject, getRecentUpdate } from "../../../../server/projects.ts";
import PageLayout from "../../../../layouts/PageLayout.astro";

const { project_id } = Astro.params;
const user = Astro.locals.user;

const { project: found_project } =
	(await getProject(user?.id ?? null, project_id)) ?? null;

const project_uuid = found_project?.id ?? null;

// get the most recent todo_update for the project and render it
// really struggled to get drizzle to do a join with 2 records from the same table, and db.execute() didn't exist???
const update = await getRecentUpdate(found_project);

// get all updates as well
const updates = project_uuid
	? await db
			.select()
			.from(todo_updates)
			.where(eq(todo_updates.project_id, project_uuid))
	: [];

const update_id = update?.id ?? null;
---

<PageLayout title={`Codebase - ${project_id} - Update`}>
	<h2>tasks</h2>
		<a href={`/project/${project_id}`}>back</a>
		<a href={`/project/${project_id}/tasks`}>tasks</a>
		<a href={`/project/${project_id}/tasks/update`}>update</a>
		<a href={`/project/${project_id}/tasks/config`}>config</a>
		<br />
	<pre>{update?.data}</pre>
	<a href="#" id="approve">Approve</a>
	<a href="#" id="reject">Reject</a>
	<br />
	<h3>All Updates</h3>
	<pre>{JSON.stringify(updates, null, 2)}</pre>

	<script is:inline define:vars={{ project_uuid, update_id }}>
		document.getElementById("approve")?.addEventListener("click", async (e) => {
			e.preventDefault();
			await fetch(`/api/project/scan?project_id=${project_uuid}`, {
				method: "POST",
				body: JSON.stringify({ approved: true, id: update_id }),
			});
			location.reload();
		});

		document.getElementById("reject")?.addEventListener("click", async (e) => {
			e.preventDefault();
			await fetch(`/api/project/scan?project_id=${project_uuid}`, {
				method: "POST",
				body: JSON.stringify({ approved: false, id: update_id }),
			});
			location.reload();
		});
	</script>
</PageLayout>
