---
import Layout from "./Layout.astro";
import { DevpadHeader, DevpadFooter } from "@devpad/core/ui";

interface Props {
	title: string;
	description?: string;
	keywords?: string[];
	canonical?: string;
}
const user = Astro.locals.user;
const pathname = Astro.url.pathname;

const { title, description, keywords, canonical } = Astro.props;

const currentApp = pathname.startsWith("/project") ? "projects" as const
	: pathname.startsWith("/todo") ? "tasks" as const
	: pathname.startsWith("/docs") ? "docs" as const
	: undefined;
---

<Layout title={title} description={description} keywords={keywords} canonical={canonical}>
	<body>
		<div id="container">
			<header class="unified-header">
				<DevpadHeader client:load currentApp={currentApp} currentPath={pathname} user={user} authVariant="main" />
			</header>
			<slot />
		</div>
		<br />
		<br />
		<DevpadFooter client:load />
	</body>
</Layout>
