---
import PageLayout from "../../layouts/PageLayout.astro";
import { getUserProjects, type Project } from "../../server/projects";
import { getUserTasks } from "../../server/tasks";
import { TaskSorter } from "../../components/solid/TaskSorter";
import Tag from "lucide-solid/icons/tag";
import { getActiveUserTags } from "../../server/tags";

const user = Astro.locals.user;
if (!user)
  return new Response(null, { status: 401, statusText: "Unauthorized" });

const projects = await getUserProjects(user.id);
const project_map = {} as Record<string, Project>;
for (const p of projects) {
  project_map[p.id] = p;
}
const tasks = await getUserTasks(user.id);

const tags = await getActiveUserTags(user.id);
---

<PageLayout title="Tasks - devpad">
  <main>
    <section>
      <div class="flex-row">
        <h3>upcoming tasks</h3>
        <a
          href="/todo/tags"
          style="margin-left: auto; font-size: small;"
          class="flex-row"
        >
          <Tag />
          tags
        </a>
      </div>
      <TaskSorter
        client:load
        tasks={tasks}
        project_map={project_map}
        defaultOption={"priority"}
        tags={tags}
        user_id={user.id}
        defaultView={user.task_view}
      />
    </section>
  </main>
</PageLayout>
