---
import PageLayout from "../../layouts/PageLayout.astro";
import { getUserProjectMap } from "../../server/projects";
import { getUserTasks } from "../../server/tasks";
import { TaskSorter } from "../../components/solid/TaskSorter";
import Tag from "lucide-solid/icons/tag";
import { getActiveUserTags } from "../../server/tags";
import Plus from "lucide-solid/icons/plus";
import GithubLogin from "../../components/solid/GithubLogin";

const user = Astro.locals.user;

const project_map = user ? await getUserProjectMap(user!.id) : {};
const tasks = user ?  await getUserTasks(user!.id) : [];

const tags = user ? await getActiveUserTags(user!.id) : [];
---

<PageLayout title="Tasks - devpad">
  <main>
{user ?
    <section>
      <div class="flex-row">
        <h3>upcoming tasks</h3>
        <a href="/todo/new" style="font-size: small;" class="flex-row">
          <Plus />
          new task
        </a>
        <a
          href="/todo/tags"
          style="margin-left: auto; font-size: small;"
          class="flex-row"
        >
          <Tag />
          tags
        </a>
      </div>
      <TaskSorter
        client:load
        tasks={tasks}
        project_map={project_map}
        defaultOption={"upcoming"}
        tags={tags}
        user_id={user.id}
        defaultView={user.task_view}
      />
</section>
  : <>
    <p>you must be logged in.</p>
    <GithubLogin client:load />
  </>}
  </main>
</PageLayout>
