---
import { getProject } from "../../../server/projects";
import TodoLayout from "../../../layouts/TodoLayout.astro";
import { db } from "../../../../database/db";
import { tracker_result } from "../../../../database/schema";
import { eq } from "drizzle-orm";

const { project_id } = Astro.params;
const user = Astro.locals.user;

const { project, error } = await getProject(user?.id ?? null, project_id);
const scans = (project?.project_id ? await db.select().from(tracker_result).where(eq(tracker_result.project_id, project.project_id)) : []) ?? [];
---

<TodoLayout title={`Codebase - ${project_id}`}>
{error ? <p>Error: {error}</p> :
	<main>
		<button class='scan' style="width: 50px">Scan</button>
		<br />
		<br />
		<p>Output: </p>
		<pre id='output'>0</pre>

		<section id='scans' style="overflow: auto">
			{scans.map(scan => (
				<details>
					<summary>{new Date(scan.created_at).toString()} - {scan.id}</summary>
					<pre>{scan.data}</pre>
				</details>
			))}
		</section>
	</main>
	}
</TodoLayout>

<style>
main {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
</style>

<script define:vars={{ project_id }}>

const output = document.getElementById("output");
if (!output) throw new Error("Output element not found");
document.querySelector('button.scan')?.addEventListener('click', async () => {
	const response = await fetch(`/api/todo/scan?project_id=${project_id}`, { method: "POST" });
	if (!response.ok) {
		output.innerText = 'Error: ' + response.statusText;
	}
	output.innerText = '';
	const reader = response.body.getReader();

	const read_data = async function* () {
		let done = false;
		while (!done) {
			const { done: d, value: v } = await reader.read();
			done = d;
			const value = new TextDecoder().decode(v);
			const lines = value.split('\n');
			for (const line of lines) {
				if (line.length > 1) yield line;
			}
		}
	}

	for await (const line of read_data()) {
		output.innerText = line;
		await new Promise(resolve => setTimeout(resolve, 100));
	}
	
});
</script>
